@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

/*grijs #899CA0 en donkergroen #1C2B32*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: smaller;
    color: #1C2B32;
}

/* //////// ----------- HEADER ----------- //////// */
header {
    /*background-color: red;*/
    background-image: url("../assets/images/mountains.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 550px;
    text-align: center;
    margin: auto;
    padding: 30px;
}

h1 {
    font-size: 90px;
}

header input {
    background: none;
    border: 1px solid #1C2B32;
    border-radius: 100px 0 0 100px;
    margin: -15px;
    padding: 15px;
    width: 250px;
}

::placeholder {
    color: #1C2B32;
}

header button {
    background-color: #1C2B32;
    border: 1px solid #1C2B32;
    border-radius: 0 100px 100px 0;
    color: #ffffff;
    padding: 15px;
    width: 200px;
}

/* //////// ----------- END OF HEADER ----------- //////// */

/* //////// ----------- MAIN ----------- //////// */
main {
    width: 1000px;
    margin: auto;
}

h2 {
    text-align: center;
    padding: 40px;
}

p {
    padding: 20px 0;
}

.first-review-box, .second-review-box {
    /*background-color: red;*/

    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.20) 0 5px 15px 0;
    margin: 10px auto;
    padding: 50px;
    width: 100%;
}

table {
    font-style: italic;
}

td img {
    width: 44px;
    margin-right: 20px;
}

.callcenter-image {
    border-radius: 10px;
    width: 100%;
}

.link-team {
    color: #899CA0;
}

.link-team:hover {
    text-decoration: none;
}

.contact-button {
    background-color: #1C2B32;
    border-radius: 30px;
    color: #ffffff;
    padding: 15px 20px;
}

details {
    cursor: pointer;
    margin: 20px auto;
}

.faq-list p {
    background-color: #7C8E94;
    border-radius: 10px;
    color: #ffffff;
    padding: 20px;
    width: 75%;
}

/* //////// ----------- END OF MAIN ----------- //////// */

/* //////// ----------- FOOTER ----------- //////// */
footer {
    background-color: #1C2B32;
    color: #ffffff;
    padding: 5px;
    text-align: center;
    margin-top: 75px;
}

/* //////// ----------- END OF FOOTER ----------- //////// */
